/.vs/DashboardProjects/DesignTimeBuild/.dtbcache.v2
/.vs/DashboardProjects/FileContentIndex/3bc62fdb-faa8-4e18-be5c-7576837bd3e9.vsidx
/.vs/DashboardProjects/FileContentIndex/04a77409-e54a-4da7-b4d1-4fb77d1e1454.vsidx
/.vs/DashboardProjects/FileContentIndex/4437b1e8-d8e4-47db-a6cb-37600c8d374f.vsidx
/.vs/DashboardProjects/FileContentIndex/da06d068-5345-4e03-b4f4-ddbcfbd384e8.vsidx
/.vs/DashboardProjects/FileContentIndex/f0a9ee74-9d95-4e78-bf30-ec874fad837d.vsidx
/.vs/DashboardProjects/v17/.futdcache.v2
/.vs/DashboardProjects/v17/.suo
/.vs/ProjectEvaluation/dashboardprojects.metadata.v7.bin
/.vs/ProjectEvaluation/dashboardprojects.projects.v7.bin
.idea
.vs
DashboardProjects/bin
DashboardProjects/obj
/DataAccess/obj
/DataAccess/bin/Debug/net8.0
